<h1>Editing paciente</h1>

<%= render "form", profiles_case_use_paciente: @profiles_case_use_paciente %>

<br>

<div>
  <%= link_to "Show this paciente", @profiles_case_use_paciente %> |
  <%= link_to "Back to pacientes", profiles_case_use_pacientes_path %>
</div>
