<table class="table align-items-center mb-0">
    <thead>
    <tr>
      <th>Administrador</th>
      <th>Email</th>
      <th>Senha</th>
    </tr>
    </thead>
  <% @admins.each do |admin| %>
    <tbody>
    <tr>
      <td><%= admin %></td>
      <td><%= admin.email %></td>
      <td><%= admin.encrypted_password %></td>
    </tr>
    </tbody>
  <% end %>
</table>
