<h1>Editing welcome</h1>

<%= render "form", users_backoffice_pacientes_welcome: @users_backoffice_pacientes_welcome %>

<br>

<div>
  <%= link_to "Show this welcome", @users_backoffice_pacientes_welcome %> |
  <%= link_to "Back to welcomes", users_backoffice_pacientes_welcomes_path %>
</div>
