<h1>New welcome</h1>

<%= render "form", users_backoffice_pacientes_welcome: @users_backoffice_pacientes_welcome %>
<%= render 'users_backoffice/welcome/user_siderbar' %>

<br>

<div>
  <%= link_to "Back to welcomes", users_backoffice_pacientes_welcomes_path %>
</div>
