<h2>Whatsapp do meu consultório</h2>
<div class="form-group">
  <label for="example-tel-input" class="form-control-label">DDD</label>
  <input class="form-control" type="number" placeholder="coloque aqui o seu DDD" id="tel-input">
  <label for="example-tel-input" class="form-control-label">Número do Whatsapp</label>
  <input class="form-control" type="number" placeholder="Coloque aqui o seu whatsapp" id="tel-input">
</div>
