<div class="form-group">
  <input class="form-control" type="text" id="logradouro-input" placeholder="Logradouro" value="<%= @endereco_formatado['street'] %>">
</div>
<div class="form-group">
  <input class="form-control" type="number" id="numero-input" placeholder="Número" value="number">
</div>
<div class="form-group">
  <input class="form-control" type="text" id="bairro-input" placeholder="Bairro" value="<%= @endereco_formatado['neighborhood'] %>">
</div>
<div class="form-group">
  <input class="form-control" type="text" id="cidade-input" placeholder="Cidade" value="<%= @endereco_formatado['city'] %>">
</div>
<div class="form-group">
  <input class="form-control" type="text" id="estado-input" placeholder="Estado" value="<%= @endereco_formatado['state'] %>">
</div>
