<h2>Email do meu consultório</h2>
<div class="form-group">
  <label for="example-email-input" class="form-control-label">Email</label>
  <input class="form-control" type="text" placeholder="coloque meu email" id="email-input">
</div>
