<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in?%>
  <p>Usuário está logado</p>
  <p> <%= current_user.inspect %></p>
  <%= link_to 'Fazer logoff', destroy_user_session_path, method: :delete %>
  <% else %>
    <p>Usuário não está logado</p>
<% end %>


<% if admin_signed_in?%>
  <p>Administrador está logado</p>
  <p> <%= current_admin.inspect %></p>
  <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>

<% else %>
  <p>Administrador não está logado</p>
<% end %>